<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Create new</title>
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		<div id="main-wrapper">
			<div class="row m-t-md">
				<div class="col-md-12">
					<div class="row mailbox-header">
						<div class="col-md-2">
							<a href="/blogindex" class="btn btn-success btn-block">Back
								to Blog</a>
						</div>
						
					</div>
				</div>

				<div class="col-md-12">
					<div class="panel panel-white">
						<div class="panel-heading clearfix">
							<h4 class="panel-title">Thêm Blog</h4>
						</div>
						<div class="panel-body">
							<form class="form-horizontal" action="#" th:action="@{/saveblog}"
								th:object="${blog}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Loại
										blog</label>
									<div class="col-sm-10">
										
										<select th:field="*{cate}">
											
											<option th:each="cate : ${cate}"
												th:value="${cate.id}"
												th:text="${cate.name}" />
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Tên
										blog</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{title}" class="form-control"
											id="input-placeholder" placeholder="Hãy nhập tên blog"
											required oninvalid="this.setCustomValidity('Vui lòng nhập tên Blog')"
 												oninput="setCustomValidity('')">
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-2 control-label">Date Picker</label>
									<div class="col-sm-10">
										<input type="date" th:field="*{datepost}"
											class="form-control date-picker">
									</div>
								</div>
								<div class=" form-group hidden">
									<label for="input-placeholder" class="col-sm-2 control-label">User
										id</label>
<!-- 									<div class="col-sm-10"> -->
									
<!-- 										<input type="text" readonly="readonly" th:value="${session.user.name}" th:field="*{userid}" -->
										 
<!-- 										 class="form-control"> -->
										
<!-- 									</div> -->
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Ảnh</label>
									<div class="col-sm-10">

										<input type="file" name="image"
											accept="image/png,image/jpg, image/jpeg" />
									</div>
								</div>
								<!-- <div class="form-group">
                                            <label for="input-placeholder" class="col-sm-2 control-label">Mô tả</label>
                                            <div class="col-sm-10">
                                                <input type="text" th:field="*{content}" class="form-control" id="input-placeholder" placeholder="Hãy nhập mô tả">
                                            </div>
                                        </div>  -->
								<div class="form-group">
									<label class="col-sm-2 control-label">Nội dung</label>
									<div class="col-sm-10">

										<textarea class="input-large form-control" id="message"
											rows="5" th:field="*{content}" placeholder="Nhập nội dung..."
											required oninvalid="this.setCustomValidity('Hãy nhập nội dung')"
 												oninput="setCustomValidity('')"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-success">Thêm
											Blog</button>
									</div>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Row -->
		</div>
		<!-- Main Wrapper -->

	</div>
</body>
</html>