<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		<div id="main-wrapper">
			<div class="col-md-12">
				<div class="row m-t-md">
					<div class="row mailbox-header">
						<div class="col-md-2">
							<a  href="/newblog" class="btn btn-success btn-block">Thêm
								Blog</a>
						</div>

						<div class="col-md-10">
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Blog</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="example" class="display table"
								style="width: 100%; cellspacing: 0;">
								<thead>
									<tr>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Service id</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=cate&sortDir=' + ${reverseSortDir}}">Category id</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=title&sortDir=' + ${reverseSortDir}}">title</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=datepost&sortDir=' + ${reverseSortDir}}">Date</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=userid&sortDir=' + ${reverseSortDir}}">User ID</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=images&sortDir=' + ${reverseSortDir}}">Images</a></th>
										<th class="text-center"><a th:href="@{'/blog-page/' + ${currentpage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">Content</a></th>
										<th class="text-center" colspan="2">Action</th>
										<th></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th class="text-center">Service id</th>
										<th class="text-center">Category id</th>
										<th class="text-center">Title</th>
										<th class="text-center">Date</th>
										<th class="text-center">User ID</th>
										<th class="text-center">Images</th>
										<th class="text-center">Content</th>
										<th>Action</th>
										<th></th>
									</tr>
								</tfoot>
								<tbody>
									<tr th:each="blog : ${listblog}">
										<td class="text-center" th:text="${blog.id}">Blog id</td>
										<td class="text-center" th:text="${blog.blogcategories.name}">Category id</td>
										<td class="text-center" th:text="${blog.title}">Title</td>
										<td  class="text-center" th:text="${blog.datepost}">Date</td>
										<td class="text-center" th:text="${blog.user.name}">Người đăng</td>
										<td class="text-center" th:text="${blog.images}">Images</td>
										<td class="text-center" style="max-width: 300px" th:text="${#strings.abbreviate(blog.content,120)}">Content</td>
										<td><a th:href="@{'/editblog/' + ${blog.id}}">edit</a></td>
										<td><a th:href="@{'/deleteblog/' + ${blog.id}}" th:data-confirm-delete="|Bạn có muốn xoá sản phẩm ${blog.title}?|"
  									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false;else(alert('Đã xoá thành công'))">delete</a>
										</td>
									</tr>
								</tbody>
							</table>
							<div style="margin-left: 500px">
								Hiện [[${totalItemsInpage}]] / [[${totalItems}]] tổng bài viết -
								Trang [[${currentpage}]] / [[${totalPages}]] :
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/blog-page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Đầu trang</a>
								<span th:unless="${currentpage > 1}">Đầu trang</span>
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/blog-page/' + ${currentpage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang trước</a>
								<span th:unless="${currentpage > 1}">Trang trước</span>
								&nbsp;
								<span
									th:each="i: ${#numbers.sequence(1, totalPages)}">
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a 
										th:if="${i != currentpage}"
										th:href="@{'/blog-page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">[[${i}]]
									</a>
										<span th:unless="${i != currentpage}">[[${i}]]</span>
								</span>
								
								</span>
								&nbsp;
								
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/blog-page/' + ${currentpage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang sau</a>
								<span th:unless="${currentpage < totalPages}">Trang sau</span>
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/blog-page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
								<span th:unless="${currentpage < totalPages}">Trang cuối</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>