<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="header" class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/banner_dog.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">PetCare Thiên Đường Thú Cưng.</h1>
          <h4>Phương châm hoạt động của <b>PetCare</b> :<b>"Luôn đặt chất lượng lên hàng đầu" </b>quý khách yên tâm khi mua sắm tại cửa hàng vì 100% thức ăn thú cưng và các sản phẩm dinh dưỡng của chúng tôi
         được nhập khẩu trực tiếp từ nước ngoài. Hàng hóa luôn đảm bảo rõ nguồn gốc xuất xứ, chất lượng tốt nhất, hạn sử dụng dài, phương thức bảo quản tốt.</h4>
          <br>
          <a href="https://youtu.be/5hhSlBr_Lbc" target="_blank" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-play"></i> Xem Video
          </a>
        </div>
      </div>
    </div>
  </div>
</html>