<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		
		<div class="row">
			<div class="col-md-12">
			
				<div class="panel panel-white">
				<div class="col-md-2">
							<a href="/newservicecategories" class="btn btn-success btn-block">Thêm
								loại dịch vụ</a>
						</div>
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Loại dịch vụ</h4>
						
					</div>
					
					<div class="panel-body">
					
						<div class="table-responsive">
							<table id="example" class="display table"
								style="width: 100%; cellspacing: 0;">
								<thead>
									<tr>
					<th>Service id</th>
					<th>Name</th>
					<th>Action</th>
					<th></th>
									</tr>
								</thead>
								<tfoot>
									<tr>
					<th>Service id</th>
					<th>Name</th>
					<th>Action</th>
					
					<th></th>
				</tr>
								</tfoot>
								<tbody>
				<tr th:each="services : ${listservicecategories}">
					<td th:text="${services.id}">Service id</td>
					<td th:text="${services.name}">name</td>
					<td>
						<a th:href="@{'/editservicecate/' + ${services.id}}">edit</a>
					</td>
					<td>
						
						<a th:href="@{'/deleteservicecate/' + ${services.id}}" th:data-confirm-delete="|Bạn có muốn xoá sản phẩm ${services.name}?|"
  									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false;else(alert('Đã xoá thành công'))">Delete</a>
					</td>				
				</tr>
			</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>