<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/user/main_layout}">
<head>
<meta charset="UTF-8">
<title>Tiến hành xác nhận</title>

</head>
<body>
	<div layout:fragment="content" class="main main-raised">
		<div class="contactus-1 section-image"
			style="background-image: url('./assets/img/confirm.jpg')">
			<div class="container">
				<div class="row">
					<div class="col-md-5 ml-auto">
						<h2 class="title">Tiến hành đặt lịch</h2>
						<h5 class="description">Xác nhận thông tin của sản phẩm và thông tin của bạn tại đây.</h5>
						<table class="table table-bordered"
							style="table-layout: auto; color: white">
							<thead class="thead-dark">
								<tr>
									<th class="text-right">Dịch vụ</th>
									<th class="text-right">Loại dịch vụ</th>
									<th class="text-right">Giá</th>
									<th class="text-right">Mô tả</th>
									<th class="text-right">Giảm giá</th>
								</tr>
							</thead>
							<tbody>
								<tr th:object="${service}">
									<td class="text-center"><a th:text="${service.name}"></a></td>

									<td th:text="${service.cate.name}" class="text-center"></td>
									<td class="td-number text-right"
										th:text="${#numbers.formatDecimal(service.price, 3, 'POINT', 0, 'POINT')}"></td>

									<td class="td-number text-center"
										th:text="${service.description}"></td>
									<td class="td-number text-center" th:text="${service.discount}">Giảm
										giá</td>
									

									
								</tr>



								

							</tbody>
						</table>


					</div>
					<div class="col-md-5 ml-auto">
						<div class="card card-contact">
							<form class="form-horizontal" action="#" th:action="@{/order}"
								th:object="${schedule}" method="post">
								<div class="form-group">

									<input type="hidden" th:placeholder="'Hãy nhập id'"
										class="form-control" th:field="${schedule.iduser}"> <input
										type="hidden" class="form-control" th:field="*{idservice}">

								</div>

								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i
											class="material-icons">event</i>
										</span>
									</div>
									<input type="text" class="form-control datepicker"
										th:field="*{datacheckin}" placeholder="Vui lòng chọn ngày" required>
										
								</div>
								<br>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text"> <i
											class="material-icons">comment</i>
										</span>
									</div>
									<textarea class="input-large form-control" id="message"
										rows="5" th:field="*{note}" placeholder="Nhập nội dung..." required></textarea>
								</div>



								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-success" onclick="alert('Cảm ơn bạn đã đặt dịch vụ. Chúng tôi sẽ sớm liên hệ với bạn ! ');">Xác nhận đặt lịch</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>