<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/user/main_layout}">
<head>
<meta charset="UTF-8">
<title>Blog</title>
</head>
<body>
	<div class="main main-raised" layout:fragment="content">
		<div class="container">
			<div class="section">
				<h3 class="title text-center">Blog cho thú cưng</h3>
				<div class="col-md-8 ml-auto mr-auto">
					<h5 class="description">Blog PetCare là nơi chia sẻ kiến thức về thú cưng. 
					Từ những dấu hiệu bệnh, phương pháp điều trị cho đến cách chăm sóc, tư vấn chọn mua thú cưng...
					Bạn sẽ tìm thấy những điều bổ ích dành cho mình tại đây. Hãy tham gia cùng chúng tôi</h5>
				</div>
				<br>
				<div class="row" >
					<div class="col-md-4" th:each="blog : ${blog}">
						<div class="card card-plain card-blog">
							<div class="card-header card-header-image">
								<a href="#pablo"> <img class="img img-raised"
									th:src="@{'../assets/img/' + ${blog.images}}" style="max-height: 233px;min-height: 233px">
								</a>
							</div>
							<div class="card-body">
								<h6 class="card-category text-info" th:text="${blog.datepost}">Cate</h6>
								<h4 class="card-title">
									<a th:href="@{'/blog/' + ${blog.id}}" th:text="${blog.title}">Autodesk looks to future of 3D printing
										with Project Escher</a>
								</h4>
								<p class="card-description" th:text="${#strings.abbreviate(blog.content,100)}">
								
								</p>
							</div>
						</div>
					</div>
					
					<div style="margin-left: 200px">
								Hiện [[${totalItemsInpage}]] / [[${totalItems}]] tổng bài viết -
								Trang [[${currentpage}]] / [[${totalPages}]] :
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{/baiviet-page/1}">Đầu trang</a>
								<span th:unless="${currentpage > 1}">Đầu trang</span>
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/baiviet-page/' + ${currentpage - 1}}">Trang trước</a>
								<span th:unless="${currentpage > 1}">Trang trước</span>
								&nbsp;
								<span
									th:each="i: ${#numbers.sequence(1, totalPages)}">
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a 
										th:if="${i != currentpage}"
										th:href="@{'/baiviet-page/' + ${i}}">[[${i}]]
									</a>
										<span th:unless="${i != currentpage}">[[${i}]]</span>
								</span>
								
								</span>
								&nbsp;
								
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/baiviet-page/' + ${currentpage + 1}}">Trang sau</a>
								<span th:unless="${currentpage < totalPages}">Trang sau</span>
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/baiviet-page/' + ${totalPages}}">Trang cuối</a>
								<span th:unless="${currentpage < totalPages}">Trang cuối</span>
							</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>