<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/user/main_layout}">
<head>
<meta charset="UTF-8">
<title>Gió Hàng</title>
</head>
<body>

	<div layout:fragment="content" class="main main-raised">
		<div class="container">
			<div class="card card-plain">
				<div class="card-body">
					<h3 class="card-title">Giỏ Hàng</h3>
					<div class="alert alert-danger text-center" role="alert" th:text="${delete}" th:if="${delete}"></div>
					<div class="alert alert-warning text-center" role="alert" th:text="${des}" th:if="${des}"></div>
					<div class="alert alert-success text-center" role="alert" th:text="${success}" th:if="${success}"></div>
					<br />
					<div class="table-responsive">
						<table class="table table-shopping">
							<thead>
								<tr>
									<th class="text-center"></th>
									<th>Tên Sản Phẩm</th>
									<th>Thương Hiệu </th>
									<th class="text-right">Giá</th>
									
									<th class="text-right"></th>
									<th>Chất Lượng</th>
									<th></th>
									<th class="text-right">Giảm Giá</th>
									<th class="text-right">Đơn giá</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item : ${session.cart}"
									th:with="price=${item.product.price*item.quantity}">
									<td>
										<div class="img-container">
											<img th:src="@{'../assets/img/' + ${item.product.images}}"
												alt="...">
										</div>
									</td>
									<td class="text-center"><a href="#jacket"
										th:text="${item.product.name}">Spring Jacket</a></td>
									<td th:text="${item.product.brand}"></td>
									<td class="td-number text-right"
										th:text="${#numbers.formatDecimal(item.product.price, 3, 'POINT', 0, 'POINT')}"></td>
									
									<td class="td-number" colspan="3">

										<div class="btn-group ">
											<a class="btn btn-round btn-info btn-sm" th:href="${'/cart/remove/'+item.product.id}">
												<i class="material-icons">remove</i>
											</a>
											<div style="margin: 10px;" th:text="${item.quantity}"></div>
											<a class="btn btn-round btn-info btn-sm" th:href="${'/cart/buy/'+item.product.id}">
												<i class="material-icons">add</i>
											</a>
										</div>
									</td>
									<td class="td-number" th:text="${item.product.discount}">Giảm
										giá</td>
									<td class="td-number"
										th:text="${#numbers.formatDecimal(price, 3, 'POINT', 0, 'POINT')}"></td>

									
								</tr>


								<tr>
									<td colspan="3"></td>
									<td class="td-total">Thành tiền</td>
									<td colspan="1" class="td-price"
										th:text="${#numbers.formatDecimal(total, 3, 'POINT', 0, 'POINT')}">
									</td>
									<td colspan="1"></td>
									<td colspan="2" class="text-right"><a type="button"
										class="btn btn-info btn-round" href="/confirm">Tiến hành thanh toán <i class="material-icons">keyboard_arrow_right</i>
									</a></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>