<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/user/main_layout}">
<head>
<meta charset="UTF-8">
<title>Lịch sử mua hàng</title>
</head>
<body class="pricing sidebar-collapse">
	<div layout:fragment="content" class="main main-raised">
		<div class="container">
			<div class="col-lg-12 col-md-8">
				<h3>
					<small>Lịch sử mua hàng</small>
				</h3>
				
				<div class="tab-content tab-space">
					<div class="tab-pane active" id="pill1">

						<div class="col-lg-8 col-md-10 ml-auto mr-auto">
							<h4>
								<small>Bảng lịch sử mua hàng</small>
							</h4>
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="text-center">ID hóa đơn</th>
											<th>Ngày mua</th>
											<th>Email</th>
											<th>Số điện thoại</th>
											<th class="text-right">Tổng giá</th>
											<th class="text-right">Status</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="bill : ${history}">
											<td class="text-center" th:text="${bill.id}">1</td>
											<td th:text="${bill.date}"></td>
											<td th:text="${bill.user.email}"></td>
											<td th:text="${bill.user.phone}"></td>
											<td class="text-right" th:text="${bill.totalprice}"></td>
											<th:block th:if="${bill.status == 0}">
												<td>Chưa xử lý</td>
											</th:block>
											<th:block th:if="${bill.status == 1}">
												<td>Đang xử lý</td>
											</th:block>
											<th:block th:if="${bill.status == 2}">
												<td>Đã hoàn thành</td>
											</th:block>
											<th:block th:if="${bill.status == 3}">
												<td>Huỷ</td>
											</th:block>
											<!-- <td class="td-actions text-right">
												<a type="button" rel="tooltip" th:href="@{'/UpdateBillStatus/' + ${bill.id}}"
													class="btn btn-info btn-just-icon btn-sm">
													<i class="material-icons">check</i>
												</a>
												</td> -->
												<td>
												<a type="button" rel="tooltip" th:href="@{'/chitietbill/' + ${bill.id}}"
													class="btn btn-info btn-just-icon btn-sm">
													<i class="material-icons">read_more</i>
												</a>

											</td>
										</tr>
										</tbody>
								</table>
							</div>

						</div>
					</div>


				</div>
			</div>


		</div>
	</div>
</body>
</html>