<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/admin/main_layout}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<!-- <div align="center">
    <h1>Service Manager</h1>
    <a href="/newservicecategories">Create new Service</a>
    <table border="1">
        <thead>
            <tr>
                <th>Service id</th>
                <th>Name</th>

                <th>Action</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="services : ${listservicecategories}">
                <td th:text="${services.id}">Service id</td>
                <td th:text="${services.name}">name</td>
                <td>
                    <a th:href="@{'/editservicecate/' + ${services.id}}">edit</a>
                </td>
                <td>
                    <a th:href="@{'/deleteservicecate/' + ${services.id}}">delte</a>
                </td>
            </tr>
        </tbody>
    </table>
</div> -->


<div layout:fragment="content" class="page-inner">
    <div id="main-wrapper">
        <div class="col-md-12">
            <div class="row m-t-md">
                <div class="row mailbox-header">
                    <div class="col-md-2">
                        <a href="/newproduct" class="btn btn-success btn-block">Thêm sản phẩm</a>
                    </div>

                    <div class="col-md-10">
                        <form action="/product" method="GET" id="searchForm">
                            <div class="input-group">
                                <input type="text"
                                       name="search"
                                       class="form-control input-search"
                                       placeholder="Search..."
                                >
                                <span class="input-group-btn">
										<button class="btn btn-success" type="submit">
											<i class="fa fa-search"></i>
										</button>
									</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title">Sản phẩm</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="display table"
                               style="width: 100%; cellspacing: 0;">
                            <thead>
                            <tr>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
										Product id</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=cate&sortDir=' + ${reverseSortDir}}">
										Category</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
										Name</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=brand&sortDir=' + ${reverseSortDir}}">
										Brand</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=images&sortDir=' + ${reverseSortDir}}">
										Images</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=status&sortDir=' + ${reverseSortDir}}">
										status</a></th>
										<th><a th:href="@{'/product-page/' + ${currentpage} + '?sortField=price&sortDir=' + ${reverseSortDir}}">
										
										price</a></th>
										
										<th>Height</th>
								<th>Width</th>
								<th>Length</th>
								<th>Typeofpet</th>
								<th>Stage</th>
								<th>Description</th>
										<th rowspan="2">Action</th>
										<th></th>
									</tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Product id</th>
                                <th>Categories id</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Images</th>
                                <th>status</th>
                                
                                <th>Height</th>
								<th>Width</th>
								<th>Length</th>
								<th>Typeofpet</th>
								<th>Stage</th>
								<th>Description</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:if="${product.size() == 0}">
                                <td colspan="10">Không tìm thấy sản phẩm</td>
                            </tr>
                            <tr th:each="pr : ${product}" th:if="${product.size() > 0}">
                                <td th:text="${pr.id}">pr id</td>
                                <td th:text="${pr.productcategories.name}">pr id</td>
                                <td th:text="${pr.name}">Category id</td>
                                <td th:text="${pr.brand}">Date</td>
                                <td th:text="${pr.images}">Username</td>
                                <td th:text="${pr.status}">Images</td>
                                <td th:text="${pr.price}">Images</td>
                                
                                <td th:text="${pr.length}"></td>
                                <td th:text="${pr.width}"></td>
                                <td th:text="${pr.height}"></td>
                                <td th:text="${pr.typeofpet}"></td>
                                <td th:text="${pr.stage}"></td>
                                <td th:text="${#strings.abbreviate(pr.description,100)}"></td>
                                
                                <td>
                                    <a th:href="@{'/editproduct/' + ${pr.id}}">edit</a>
                                </td>
                                <td>
                                    <!-- <a th:href="@{'/deleteproduct/' + ${pr.id}} " 
                                    th:data-confirm-delete="|Bạn có muốn xoá ${pr.name}?|"
  									th:onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false,alert('Đã xoá')"
                                    >delete</a> -->
                                    <a th:href="@{'/deleteproduct/' + ${pr.id}} " th:data-confirm-delete="|Bạn có muốn xoá sản phẩm ${pr.name}?|"
  									onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false;else(alert('Đã xoá thành công'))">Delete</a>
                                </td>
                               
                            </tr>
                            </tbody>
                        </table>
                        <div style="margin-left: 500px">
								Tổng [[${totalItemsInpage}]] trên [[${totalItems}]] sản phẩm -
								Trang [[${currentpage}]] / [[${totalPages}]] :
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/product-page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Đầu trang</a>
								<span th:unless="${currentpage > 1}">Đầu trang</span>
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/product-page/' + ${currentpage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang trước</a>
								<span th:unless="${currentpage > 1}">Trang trước</span>
								&nbsp;
								<span
									th:each="i: ${#numbers.sequence(1, totalPages)}">
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a 
										th:if="${i != currentpage}"
										th:href="@{'/product-page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">[[${i}]]
									</a>
										<span th:unless="${i != currentpage}">[[${i}]]</span>
								</span>
								
								</span>
								&nbsp;
								
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/product-page/' + ${currentpage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang sau</a>
								<span th:unless="${currentpage < totalPages}">Trang sau</span>
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/product-page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
								<span th:unless="${currentpage < totalPages}">Trang cuối</span>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>