<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Create new</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/l4e9oi8kyeqxi9n/bootstrap-editable.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/fgf0ix46ahe3nko/bootstrap.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/hbfdbqevm91mrwg/component.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/51tm5d7greyxxdn/custom.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/m58zcmbxvig3k65/datepicker3.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/eq2fzclbrns80ix/font-awesome.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/cnz7o7pibaxswaa/jquery.datatables_themeroller.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/jmu3ocf4ls51erq/jquery.datatables.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/qy6kj9aexqqezfe/menu_cornerbox.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/a2w42ezlwrcga13/MetroJs.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/q3mrv0f35a4frwk/modern.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/rsd58m1gqoled24/modernizr.js">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/yrhjtkf0yjoonq0/pace-theme-flash.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/hqffmhr6ie2evsa/simple-line-icons.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/8irna4tvkmca2g0/snap.svg-min.js">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/pqlevnq28usk28s/style.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/4ih3zcwwl88v0uw/switchery.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/kzt5nuscuhicb8b/toastr.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/srzizo6wg5q3ucr/uniform.default.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/pl3w58xbev0db0q/waves.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/krpt8ech137oxw1/weather-icons.min.css">
<link rel="stylesheet"
	href="https://dl.dropbox.com/s/raqxlodn4qdhhh9/green.css">
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		<div id="main-wrapper">
			<div class="row m-t-md">
				<div class="col-md-12">
					<div class="row mailbox-header">
						<div class="col-md-2">
							<a href="/user" class="btn btn-success btn-block">Back to
								User</a>
						</div>
						<div class="col-md-6">
							<h2>Edit User</h2>
						</div>
						<div class="col-md-4">
							<div class="compose-options">
								<div class="pull-right">
									<a href="inbox.html" class="btn btn-default"><i
										class="fa fa-file-text-o m-r-xs"></i>Draft</a> <a
										href="inbox.html" class="btn btn-danger"><i
										class="fa fa-trash m-r-xs"></i>Discard</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="panel panel-white">
						<div class="panel-heading clearfix">
							<h4 class="panel-title">Thêm sản phẩm</h4>
						</div>
						<div class="panel-body">

							<form class="form-horizontal" action="#" th:action="@{/saveUser}"
								th:object="${user}" method="post">
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Mã
										user</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{id}" readonly="readonly"
											class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Email</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{email}"
											id="input-placeholder" placeholder="Hãy nhập email">
									</div>
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Password</label>
									<div class="col-sm-10">
										<input type="text" th:field="*{password}" class="form-control"
											id="input-placeholder" placeholder="Hãy nhập password">
									</div>
								</div>

								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Role</label>
									<div class="col-sm-10">
										<select th:field="*{role}">
											<option value="ROLE_USER">User</option>
											<option value="ROLE_STAFF">Staff</option>
											<option value="ROLE_ADMIN">Admin</option>
										</select>
										<!--                                             	 <input type="checkbox" th:field="*{role}" class="form-control input-rounded" id="input-rounded"> -->
									</div>
								</div>
									<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Name</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{name}"
											id="input-placeholder" placeholder="Hãy nhập email">
									</div>
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Phone</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{phone}"
											id="input-placeholder" placeholder="Hãy nhập email">
									</div>
								</div>
								<div class="form-group">
									<label for="input-placeholder" class="col-sm-2 control-label">Address</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{address}"
											id="input-placeholder" placeholder="Hãy nhập email">
									</div>
								</div>
								<div class="form-group hidden">
									<label for="input-placeholder" class="col-sm-2 control-label">Avatar</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" th:field="*{avatar}"
											id="input-placeholder" placeholder="Hãy nhập email">
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<button type="submit" class="btn btn-success">Sửa
											user</button>
									</div>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Row -->
		</div>
		<!-- Main Wrapper -->

	</div>
</body>
</html>