<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="page-inner">
		<div id="main-wrapper">
			<div class="col-md-12">
				<div class="row m-t-md">
					<div class="row mailbox-header">
						<!-- <div class="col-md-2">
							<a href="/new" class="btn btn-success btn-block">Thêm user</a>
						</div> -->

<!-- 						<div class="col-md-10"> -->
<!-- 							<form action="#" method="GET"> -->
<!-- 								<div class="input-group"> -->
<!-- 									<input type="text" name="search" -->
<!-- 										class="form-control input-search" placeholder="Search..."> -->
<!-- 									<span class="input-group-btn"> -->
<!-- 										<button class="btn btn-success" type="button"> -->
<!-- 											<i class="fa fa-search"></i> -->
<!-- 										</button> -->
<!-- 									</span> -->
<!-- 								</div> -->
<!-- 								Input Group -->
<!-- 							</form> -->
<!-- 						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-white">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Danh sách User</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="example" class="display table"
								style="width: 100%; cellspacing: 0;">
								<thead>
									<tr>
										<th><a th:href="@{'/user-page/' + ${currentpage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
					User id</a></th>
										<th><a th:href="@{'/user-page/' + ${currentpage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
					Email</a></th>
										<th>Password</th>
										<th><a th:href="@{'/user-page/' + ${currentpage} + '?sortField=role&sortDir=' + ${reverseSortDir}}">
					Role</a></th>
										<th>Action</th>
										<th></th>
									</tr>
								</thead>
								
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.id}">id</td>
										<td th:text="${user.email}">email</td>
										<td th:text="${user.password}">password</td>
										<td th:text="${user.role}">role</td>
										<td th:text="${user.name}">role</td>
										<td th:text="${user.phone}">role</td>
										<td th:text="${user.address}">role</td>
										<td><a th:href="@{'/editUser/' + ${user.id}}">Edit</a></td>
										<td><a th:href="@{'/Updatepass/' + ${user.id}}">Reset</a></td>
										
									</tr>
								</tbody>
							</table>
							<div style="margin-left: 500px">
								Hiện [[${totalItemsInpage}]] / [[${totalItems}]] tổng tài khoản -
								Trang [[${currentpage}]] / [[${totalPages}]] :
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/user-page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Đầu trang</a>
								<span th:unless="${currentpage > 1}">Đầu trang</span>
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/user-page/' + ${currentpage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang trước</a>
								<span th:unless="${currentpage > 1}">Trang trước</span>
								&nbsp;
								<span
									th:each="i: ${#numbers.sequence(1, totalPages)}">
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a 
										th:if="${i != currentpage}"
										th:href="@{'/user-page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">[[${i}]]
									</a>
										<span th:unless="${i != currentpage}">[[${i}]]</span>
								</span>
								
								</span>
								&nbsp;
								
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/user-page/' + ${currentpage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang sau</a>
								<span th:unless="${currentpage < totalPages}">Trang sau</span>
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/user-page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
								<span th:unless="${currentpage < totalPages}">Trang cuối</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>