<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/user/main_layout}">
<head>
<meta charset="UTF-8">
<title>Thông tin Blog</title>
</head>
<body>
<div class="main main-raised" layout:fragment="content">
    <div class="container" th:object="${blog}">
      <div class="section section-text">
        <div class="row">
          
          <div class="col-md-4">
              <div class="">
                <img th:src="@{'../assets/img/' + ${blog.images}}"  style="max-width: 300px;max-height: 500px"/>
              </div>
            </div>
          <div class="col-md-8 ml-auto mr-auto">
            <h3 class="title text-center" th:text="${blog.title}">Rest of the Story:</h3>
            <p th:text="${blog.content}"> </p>
             
          </div>
        </div>
      </div>
      <div class="section section-blog-info">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="row">
              <div class="col-md-6">
                <div class="blog-tags">
                  Tags:
                  <span class="badge badge-primary badge-pill" th:text="${blog.blogcategories.name}">Photography</span>
                  
                </div>
              </div>
              
            </div>
            <hr>
            
          </div>
        </div>
      </div>
     
    </div>
  </div>
</body>
</html>