<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/admin/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="page-inner">
<div id="main-wrapper">
                <div class="col-md-12">
                    <div class="row m-t-md">
                    <div class="row mailbox-header">
                        <div class="col-md-2">
                            
                        </div>
                        
                        <div class="col-md-10">
                            
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-md-12">
				<div class="panel panel-white">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">Quản lý đặt lịch</h4>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table id="example" class="display table"
								style="width: 100%; cellspacing: 0;">
								<thead>
										<tr>
											<th><a th:href="@{'/schedule-page/' + ${currentpage} + '?sortField=idschedule&sortDir=' + ${reverseSortDir}}">
										ID</a></th>
											<th>Tên dịch uvj</th>
											<th>tên người đặt</th>
											<th>số điện thoại</th>
											<th class="text-center"><a th:href="@{'/schedule-page/' + ${currentpage} + '?sortField=dateorder&sortDir=' + ${reverseSortDir}}">
										Ngày đặt</a></th>
											<th class="text-center"><a th:href="@{'/schedule-page/' + ${currentpage} + '?sortField=datacheckin&sortDir=' + ${reverseSortDir}}">
										Ngày hẹn</a></th>
											<th class="text-center">Ghi chú</th>
											<th>trạng thái</th>
										</tr>
									</thead>
								
								<tbody>
										<tr th:each="schedule : ${schedulelist}">
											<td class="text-center" th:text="${schedule.idschedule}">1</td>
											<td th:text="${schedule.service.name}"></td>
											<td th:text="${schedule.user.name}"></td>
											<td th:text="${schedule.user.phone}"></td>
											<td class="text-center" th:text="${schedule.dateorder}"></td>
											<td class="text-center" th:text="${schedule.datacheckin}"></td>
											<td class="text-center" th:text="${schedule.note}"></td>
											<th:block th:if="${schedule.datacheckin.before(#dates.createNow())}">
												<td style="color:salmon">Đã qua</td> 
											</th:block> 
											<th:block th:if="${schedule.datacheckin.after(#dates.createNow())}">
												<td style="color:green;font: bold;">Sắp tới</td> 
											</th:block> 
										</tr>
										</tbody>
							</table>
							<div style="margin-left: 500px">
								Tổng [[${totalItemsInpage}]] trên [[${totalItems}]] sản phẩm -
								Trang [[${currentpage}]] / [[${totalPages}]] :
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/schedule-page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Đầu trang</a>
								<span th:unless="${currentpage > 1}">Đầu trang</span>
								&nbsp;
								<a th:if="${currentpage > 1}" th:href="@{'/schedule-page/' + ${currentpage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang trước</a>
								<span th:unless="${currentpage > 1}">Trang trước</span>
								&nbsp;
								<span
									th:each="i: ${#numbers.sequence(1, totalPages)}">
									<span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<a 
										th:if="${i != currentpage}"
										th:href="@{'/schedule-page/' + ${i}} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} ">[[${i}]]
									</a>
										<span th:unless="${i != currentpage}">[[${i}]]</span>
								</span>
								
								</span>
								&nbsp;
								
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/schedule-page/' + ${currentpage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang sau</a>
								<span th:unless="${currentpage < totalPages}">Trang sau</span>
								&nbsp;
								<a th:if="${currentpage < totalPages}" th:href="@{'/schedule-page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Trang cuối</a>
								<span th:unless="${currentpage < totalPages}">Trang cuối</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

</body>
</html>